```gitignore
# Python cache
__pycache__/
*.pyc
.mypy_cache/

# Virtual Environment
venv/
.venv/
env/

# Build artifacts
dist/
build/
*.egg-info/

# Environment variables
.env

# Test & coverage reports
.pytest_cache/
.coverage
htmlcov/

# IDE-specific files
.idea/
.vscode/
```